.btn{
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration:none;
        padding:1.5rem 4rem;
        display:inline-block;
        position: relative;
        transition:all .2s;
        font-size: $default-fontsize;
        border:none;
        cursor: pointer;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem $color-black;

        &::after{
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    }
    &:active,
    &:focus{
        outline:none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }
    &--white{
        color:$color-grey;
        background: $color-white;
        border-radius: 10rem;

        &::after{
            background: $color-white;
        }
    }

    &--green{
        color:$color-white;
        background: $primary-color;
        border-radius: 10rem;

        &::after{
            background: $primary-color;
        }
    }

    &::after{
        content: "";
        display:inline-block;
        height:100%;
        width:100%;
        border-radius: 10rem;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all 0.4s;
    }
   
   
    &--animated{
        animation: moveInbottom 1s ease-out 0.75s;
        animation-fill-mode: backwards;
    
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-fontsize;
        color:$primary-color;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $primary-color;
        padding:3px;
        transition: all 0.2s;
    }
    &:hover{
        color: $color-white;
        background: $primary-color;
        box-shadow: 0 1rem 2rem rgba($color-black,0.2);
        transform:translateY(-2px);
    }
    &:active{
        box-shadow: 0 0.5rem 1rem rgba($color-black,0.2);
        transform:translateY(0px);
    }
}